.nav {
  background: #303030;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, #464646 0%, #222222 100%);

  .nav-element {
    border-radius: 24px;
    &:selected {
      background: #94EBEB;
      color: #272727;
    }
  }

  .nav-subsection {
    background: #434343;
    border-radius: 0 16px 16px 0;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #464646 0%, #222222 100%);

    .nav-element {
      font-weight: 400;
      font-size: 14px;
      color: #CCCCCC;

      &:selected {
        color: #272727;
        background: #94EBEB;
      }
    }
  }
}
