.settings-entry-title {
  font-size: 14px;
}

.settings-entry-desc {
  font-size: 12px;
}

.settings-group-title {
  font-size: 14px;
}

.settings-group {
  background: #393634;
  color: #CCCCCC;
  border: 1px solid #171717;
  border-radius: 12px;
}