title {
  background: linear-gradient(180deg, #303030 0%, rgba(48, 48, 48, 0) 100%);
  border-radius: 8px 8px 0px 0px;

  nav-button {
    background: #303030;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 24px 24px 0px;
    color: #44ECEC;
  }
}