[package]
name = "cosmic-settings"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0"

[dependencies]
anyhow = "1.0"
ashpd = { version = "0.8", default-features = false }
async-channel = "2.1.1"
chrono = "0.4.37"
clap = { version = "4.4.18", features = ["derive"] }
color-eyre = "0.6.2"
cosmic-bg-config.workspace = true
cosmic-comp-config.workspace = true
cosmic-config.workspace = true
cosmic-panel-config.workspace = true
cosmic-randr-shell.workspace = true
cosmic-randr.workspace = true
cosmic-settings-config = { git = "https://github.com/pop-os/cosmic-settings-daemon", branch = "keybindings" }
# cosmic-settings-config = { path = "../../cosmic-settings-daemon/config/" }
cosmic-settings-page = { path = "../page" }
cosmic-settings-system = { path = "../pages/system" }
cosmic-settings-time = { path = "../pages/time" }
cosmic-settings-wallpaper = { path = "../pages/wallpapers" }
derivative = "2.2.0"
derive_setters = "0.1.6"
dirs = "5.0.1"
downcast-rs = "1.2.0"
freedesktop-desktop-entry = "0.5.0"
futures = { package = "futures-lite", version = "2.2.0" }
generator = "=0.8.1"
hostname-validator = "1.1.1"
hostname1-zbus = { git = "https://github.com/pop-os/dbus-settings-bindings" }
i18n-embed-fl = "0.8.0"
image = "0.25"
itertools = "0.13.0"
itoa = "1.0.10"
libcosmic.workspace = true
notify = "6.1.1"
once_cell = "1.19.0"
regex = "1.10.3"
ron = "0.8"
rust-embed = "8.2.0"
serde = { version = "1.0.196", features = ["derive"] }
slotmap = "1.0.7"
static_init = "1.0.3"
sunrise = "1.0.1"
tokio.workspace = true
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
udev = "0.8.0"
url = "2.5.0"
xkb-data = "0.1.0"
zbus = { version = "4.2.1", features = ["tokio"] }
tachyonix = "0.2.1"
slab = "0.4.9"
cascade = "1.0.1"

[dependencies.i18n-embed]
version = "0.14.1"
features = ["fluent-system", "desktop-requester"]

[features]
default = []
wgpu = ["libcosmic/wgpu"]
test = []
