[Desktop Entry]
Name=COSMIC Settings
Name[pl]=Ustawienia COSMIC
Type=Settings
Exec=cosmic-settings
Terminal=false
Categories=X-COSMIC
Keywords=COSMIC
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
