[Desktop Entry]
Name=Wallpaper
Name[ar]=خلفية الشاشة
Name[zh_CN]=壁纸
Name[pl]=Tapeta
Name[hu]=Háttérkép
Name[pt]=Papel de Parede
Name[nl]=Schermachtergrond
Name[sk]=Tapeta
Name[es]=Fondo de pantalla
Comment=Wallpaper images, colors, and slideshow options.
Comment[ar]=صور خلفية الشاشة والألوان وخيارات عرض الشرائح.
Comment[zh_CN]=壁纸图片、颜色和幻灯片选项
Comment[pl]=Obraz tła, kolory i opcje pokazu slajdów.
Comment[hu]=Háttérképek, színek és diavetítési beállítások.
Comment[pt]=Imagens de plano de fundo, cores, e opções de exibição em slide.
Comment[nl]=Schermachtergrond: Afbeeldingen, kleuren en diavoorstellingen. 
Comment[sk]=Obrázky tapiet, farby a možnosti prezentácie.
Comment[es]=Imágenes de fondo, colores y opciones de carrusel de imágenes.
Type=Settings
Exec=cosmic-settings wallpaper
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-wallpaper
StartupNotify=true
