[Desktop Entry]
Name=Users
Name[ar]=المستخدمين
Name[zh_CN]=用户
Name[pl]=Użytkownicy
Name[hu]=Felhasználók
Name[pt]=Usuários
Name[nl]=Gebruikers
Name[sk]=Používatelia
Name[es]=Usuarios
Comment=Authentication and user accounts.
Comment[ar]=الاستيثاق وحسابات المستخدمين.
Comment[zh_CN]=身份验证和用户账户
Comment[pl]=Uwierzytelnianie i konta użytkowników.
Comment[hu]=Hitelesítés és felhasználói fiókok.
Comment[pt]=Autenticação e contas de usuário.
Comment[nl]=Authenticatie en gebruikersinstellingen.
Comment[sk]=Autentifikácia a používateľské účty.
Comment[es]=Autenticación y cuentas de usuario.
Type=Settings
Exec=cosmic-settings users
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-users
StartupNotify=true
