[Desktop Entry]
Name=Displays
Name[pl]=Ekrany
Name[hu]=Kijelzők
Comment=Display options, graphics modes, and night light.
Comment[pl]=Ustawienia wyświetlania, opcje grafiki i podświetlanie nocne.
Comment[hu]=Kijelzőbeállítások, grafikus módok és éjszakai fény.
Type=Settings
Exec=cosmic-settings displays
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-displays
StartupNotify=true
