[Desktop Entry]
Name=Window management
Comment=Super key action, window control options, and additional window tiling options.
Type=Settings
Exec=cosmic-settings window-management
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-window-management
StartupNotify=true
