[Desktop Entry]
Name=Input Devices
Name[zh_CN]=输入设备
Name[pl]=Urządzenia wprowadzania danych
Name[hu]=Beviteli eszközök
Name[pt]=Dispositivos de Entrada
Name[nl]=Invoerapparaten
Comment=Keyboard, cursor, etc.
Comment[zh_CN]=输入设备
Comment[nl]=Toetsenbord, muis, etc.
Type=Settings
Exec=cosmic-settings input
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-input-devices
StartupNotify=true
