[Desktop Entry]
Name=Dock
Name[pl]=Dok
Name[hu]=Dokkoló
Name[pt]=Dock
Comment=Panel with pinned applications in the app tray and other applets.
Comment[pl]=Panel z przypiętymi aplikacjami w zasobniku i innymi apletami.
Comment[hu]=Panel rögzített alkalmazásokkal és egyéb kisalkalmazásokkal.
Comment[pt]=Painel com aplicativos fixados e outros miniaplicativos.
Type=Settings
Exec=cosmic-settings dock
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-dock
StartupNotify=true
