[Desktop Entry]
Name=Bluetooth
Name[ar]=البلوتوث
Name[zh_CN]=蓝牙
Name[pl]=Bluetooth
Name[hu]=Bluetooth
Name[pt]=Bluetooth
Name[sk]=Bluetooth
Name[es]=Bluetooth
Comment=Manage Bluetooth devices
Comment[ar]=أدر أجهزة البلوتوث
Comment[zh_CN]=管理蓝牙设备
Comment[pl]=Zarządzaj urządzeniami Bluetooth
Comment[hu]=Bluetooth-eszközök kezelése
Comment[pt]=Gerenciar dispositivos Bluetooth
Comment[sk]=Spravovať Bluetooth zariadenia
Comment[nl]=Bluetooth-apparaten beheren
Comment[af]=Bestuur Bluetooth-toestelle
Comment[es]=Gestionar dispositivos Bluetooth
Type=Settings
Exec=cosmic-settings bluetooth
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-bluetooth
StartupNotify=true
