[Desktop Entry]
Name=Desktop and Panel
Comment=Super key action, hot corners, and window control options
Type=Settings
Exec=cosmic-settings desktop-panel
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop
StartupNotify=true
