[Desktop Entry]
Name=Firmware
Name[pl]=Oprogramowanie sprzętowe
Name[hu]=Firmware
Comment=View and update firmware.
Comment[pl]=Zobacz i aktualizuj oprogramowanie sprzętowe.
Comment[hu]=Firmware megtekintése és frissítése.
Type=Settings
Exec=cosmic-settings firmware
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
