[Desktop Entry]
Name=Appearance
Comment=Accent colors and COSMIC theming.
Type=Settings
Exec=cosmic-settings appearance
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
