[Desktop Entry]
Name=Notifications
Comment=Do Not Disturb, lockscreen notifications, and per-application settings.
Type=Settings
Exec=cosmic-settings notifications
Terminal=false
Categories=COSMIC
Keywords=COSMIC
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
