[Desktop Entry]
Name=Appearance
Name[zh_CN]=外观
Name[pl]=Wygląd
Name[hu]=Megjelenés
Name[pt]=Aparência
Name[nl]=Weergave
Name[sk]=Vzhľad
Comment=Accent colors and theming.
Comment[zh_CN]=强调色和个性化
Comment[pl]=Kolory akcentów i styl.
Comment[hu]=Kiemelő színek és téma.
Comment[pt]=Cores de destaque e temas.
Comment[nl]=Accentkleuren en thema's.
Comment[sk]=Akcentové farby a témy.
Type=Settings
Exec=cosmic-settings appearance
Terminal=false
Categories=COSMIC
Keywords=COSMIC;theme;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-appearance
StartupNotify=true
