[Desktop Entry]
Name=Keyboard
Name[pl]=Klawiatura
Name[hu]=Billentyűzet
Name[pt_BR]=Teclado
Comment=Input sources, switching, special character entry, shortcuts.
Comment[pl]=Źródła wprowadzania, przełączanie, specjalne klawisze, skróty.
Comment[hu]=Bemeneti források, váltásuk, speciális karakterek, billentyűparancsok.
Comment[pt_BR]=Métodos de entrada, entrada de caracteres especiais, atalhos.
Type=Settings
Exec=cosmic-settings keyboard
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-keyboard
StartupNotify=true
