[Desktop Entry]
Name=Sound
Comment=Audio settings for devices, alerts, and applications.
Type=Settings
Exec=cosmic-settings sound
Terminal=false
Categories=X-COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
