[Desktop Entry]
Name=VPN
Comment=VPN connections and connection profiles.
Type=Settings
Exec=cosmic-settings vpn
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-vpn
StartupNotify=true
