[Desktop Entry]
Name=Accessibility
Name[hu]=Akadálymentesség
Comment=Accessibility settings.
Comment[hu]=Akadálymentességi beállítások.
Type=Settings
Exec=cosmic-settings accessibility
Terminal=false
Categories=COSMIC
Keywords=COSMIC;theme;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-accessibility
StartupNotify=true
