[Desktop Entry]
Name=Mouse
Comment=Mouse speed, acceleation, and natural scrolling.
Type=Settings
Exec=cosmic-settings mouse
Terminal=false
Categories=X-COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
