[Desktop Entry]
Name=Keyboard
Name[pl]=Klawiatura
Comment=Input sources, switching, special character entry, shortcuts.
Comment[pl]=Źródła wprowadzania, przełączanie, specjalne klawisze, skróty.
Type=Settings
Exec=cosmic-settings keyboard
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-keyboard
StartupNotify=true
