[Desktop Entry]
Name=Window management
Name[ar]=إدارة النوافذ
Name[zh_CN]=窗口管理
Name[pl]=Zarządzanie oknami
Name[hu]=Ablakkezelés
Name[pt]=Gerenciamento de Janelas
Name[nl]=Vensterbeheer
Name[sk]=Správa okien
Name[es]=Gestión de ventanas
Comment=Super key action, window control options, and additional window tiling options.
Comment[ar]=إجراء مفتاح Super، وخيارات التحكم في النوافذ، وخيارات تبليط نوافذ إضافية.
Comment[zh_CN]=Super键操作、窗口控制选项和额外的窗口平铺选项
Comment[pl]=Działanie klawisza Super, opcje kontroli oknami i dodatkowe ustawienia kafelkowania okien.
Comment[hu]=Super billentyű funkció, ablakkezelési és csempézési beállítások.
Comment[pt]=Ação da tecla Super, opções de controle de janela e opções adicionais de janelas em mosaico.
Comment[nl]=Opties voor de Supertoets, vensterbeheer en aanvullende opties voor het tegelen van vensters.
Comment[sk]=Akcia klávesu Super, možnosti ovládania okien a ďalšie možnosti dlaždicovania okien.
Comment[es]=Acción de la tecla Super, opciones de control de ventana y opciones adicionales de mosaico de ventana.
Type=Settings
Exec=cosmic-settings window-management
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-window-management
StartupNotify=true
