[Desktop Entry]
Name=Applications
Comment=Manage application settings.
Type=Settings
Exec=cosmic-settings applications
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-applications
StartupNotify=true
