[Desktop Entry]
Name=Region & Language
Name[pl]=Region i język
Name[hu]=Régió és nyelv
Name[pt_BR]=Região e Idioma
Comment=Format dates, times, and numbers based on your region.
Comment[hu]=Dátumok, időpontok és számok formázása a régió alapján.
Comment[pl]=Format wyświetlanych dat, godzin i liczb dopasowany do regionu.
Comment[pt_BR]=Formatação de datas, horas e números baseados em sua região.
Type=Settings
Exec=cosmic-settings region-language
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-region-and-language
StartupNotify=true
