[Desktop Entry]
Name=Wallpaper
Name[zh_CN]=壁纸
Name[pl]=Tapeta
Name[hu]=Háttérkép
Name[pt]=Papel de Parede
Name[nl]=Schermachtergrond
Comment=Wallpaper images, colors, and slideshow options.
Comment[zh_CN]=壁纸图片、颜色和幻灯片选项
Comment[pl]=Obraz tła, kolory i opcje pokazu slajdów.
Comment[hu]=Háttérképek, színek és diavetítési beállítások.
Comment[pt]=Imagens de plano de fundo, cores, e opções de exibição em slide.
Comment[nl]=Schermachtergrond: Afbeeldingen, kleuren en diavoorstellingen. 
Type=Settings
Exec=cosmic-settings wallpaper
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-wallpaper
StartupNotify=true
