[Desktop Entry]
Name=Touchpad
Comment=Touchpad speed, click options, gestures.
Type=Settings
Exec=cosmic-settings touchpad
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-input-devices-touchpad
StartupNotify=true
