[Desktop Entry]
Name=Power & Battery
Name[pl]=Zasilanie i bateria
Name[hu]=Energia és akkumulátor
Comment=Power modes and power saving options.
Comment[pl]=Tryby zasilania i opcje oszczędzania energii.
Comment[hu]=Energiagazdálkodási módok és energiagazdálkodási beállítások.
Type=Settings
Exec=cosmic-settings power
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-power-and-battery
StartupNotify=true
