[Desktop Entry]
Name=Date & Time
Comment=Time zone, automatic clock settings, and time formatting.
Type=Settings
Exec=cosmic-settings date-time
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
