[Desktop Entry]
Name=Firmware
Name[ar]=البرامج الثابتة
Name[zh_CN]=固件
Name[pl]=Oprogramowanie sprzętowe
Name[hu]=Firmware
Name[pt]=Firmware
Name[sk]=Firmware
Name[es]=Firmware
Comment=View and update firmware.
Comment[ar]=عرض وتحديث البرامج الثابتة.
Comment[zh_CN]=查看和更新固件
Comment[pl]=Zobacz i aktualizuj oprogramowanie sprzętowe.
Comment[hu]=Firmware megtekintése és frissítése.
Comment[pt]=Visualizar e atualizar firmware.
Comment[nl]=Firmware bekijken en bijwerken.
Comment[af]=Bekyk en werk firmware op.
Comment[sk]=Zobraziť a aktualizovať firmware.
Comment[es]=Ver y actualizar firmware.
Type=Settings
Exec=cosmic-settings firmware
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
