[Desktop Entry]
Name=Workspaces
Comment=Set workspace number, behavior, and placement.
Type=Settings
Exec=cosmic-settings workspaces
Terminal=false
Categories=COSMIC
Keywords=COSMIC
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
