[Desktop Entry]
Name=Workspaces
Name[pl]=Obszary robocze
Comment=Workspace orientation and behavior.
Comment[pl]=Kierunek i zachowanie obszarów roboczych.
Type=Settings
Exec=cosmic-settings workspaces
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-workspaces
StartupNotify=true
