[Desktop Entry]
Name=Region & Language
Comment=Format dates, times, and numbers based on your region.
Type=Settings
Exec=cosmic-settings region-language
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-time-and-language-region-and-language
StartupNotify=true
