[Desktop Entry]
Name=Users
Comment=Authentication and login, lock screen.
Type=Settings
Exec=cosmic-settings users
Terminal=false
Categories=COSMIC
Keywords=COSMIC
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
