[Desktop Entry]
Name=Power & Battery
Name[hu]=Energia és akkumulátor
Name[pl]=Zasilanie i bateria
Name[pt]=Energia e Bateria
Comment=Power modes and power saving options.
Comment[pl]=Tryby zasilania i opcje oszczędzania energii.
Comment[hu]=Energiagazdálkodási módok és energiagazdálkodási beállítások.
Comment[pt]=Modos de energia e opções de economia de energia.
Type=Settings
Exec=cosmic-settings power
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-power-and-battery
StartupNotify=true
