[Desktop Entry]
Name=Region & Language
Comment=Format dates, times, and numbers based on your region.
Type=Settings
Exec=cosmic-settings region-language
Terminal=false
Categories=COSMIC
Keywords=COSMIC
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
