[Desktop Entry]
Name=Network & Wireless
Comment=Manage network connections
Type=Settings
Exec=cosmic-settings network
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-network-and-wireless
StartupNotify=true
