[Desktop Entry]
Name=Network & Wireless
Name[pl]=Sieć i połączenia bezprzewodowe
Comment=Manage network connections
Comment[pl]=Zarządzaj połączeniami sieciowymi
Type=Settings
Exec=cosmic-settings network
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-network-and-wireless
StartupNotify=true
