[Desktop Entry]
Name=Touchpad
Name[pl]=Gładzik
Comment=Touchpad speed, click options, gestures.
Comment[pl]=Prędkość gładzika, opcje kliknięć, gesty.
Type=Settings
Exec=cosmic-settings touchpad
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-touchpad
StartupNotify=true
