[Desktop Entry]
Name=Time & Language
Name[pl]=Czas i język
Comment=
Type=Settings
Exec=cosmic-settings time
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-time-and-language
StartupNotify=true
