[Desktop Entry]
Name=Wallpaper
Comment=Wallpaper images, colors, and slideshow options.
Type=Settings
Exec=cosmic-settings wallpaper
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-wallpaper
StartupNotify=true
