[Desktop Entry]
Name=Startup applications
Name[ar]=تطبيقات بدء التشغيل
Comment=Configure applications which run on login.
Comment[ar]=اضبط التطبيقات التي تعمل عند الولوج.
Type=Settings
Exec=cosmic-settings startup-apps
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-startup-applications
StartupNotify=true
