[Desktop Entry]
Name=Sound
Name[ar]=الصوت
Name[zh_CN]=音频
Name[pl]=Dźwięk
Name[hu]=Hang
Name[pt]=Som
Name[nl]=Geluid
Name[sk]=Zvuk
Name[es]=Sonido
Comment=Audio settings for devices, alerts, and applications.
Comment[ar]=إعدادات الصوت للأجهزة والتنبيهات والتطبيقات.
Comment[zh_CN]=设备、警报和应用程序的音频设置
Comment[pl]=Opcje dźwięku dla urządzeń, alertów i aplikacji.
Comment[hu]=Hangbeállítások eszközökhöz, figyelmeztetésekhez és alkalmazásokhoz.
Comment[pt]=Configurações de áudio para dispositivos, alertas e aplicativos.
Comment[nl]=Geluidsinstellingen voor apparaten, alarmen en programma's.
Comment[sk]=Zvukové nastavenia pre zariadenia, upozornenia a aplikácie.
Comment[es]=Configuraciones de audio para dispositivos, alertas y aplicaciones.
Type=Settings
Exec=cosmic-settings sound
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-sound
StartupNotify=true
