[Desktop Entry]
Name=System & Accounts
Name[ar]=النظام والحسابات
Name[sk]=Systém & Účty
Name[zh_CN]=系统和账户
Name[pl]=System i konta
Name[hu]=Rendszer és fiókok
Name[pt]=Sistema e Contas
Name[nl]=Systeem en gebruikersaccounts
Name[af]=Stelsel en gebruikerrekeninge
Name[de]=System und Konten
Name[es]=Sistema y cuentas
Comment=System information, users and firmware
Comment[nl]=Systeeminformatie, gebruikers en firmware
Comment[af]=Stelselinligting, gebruikers en firmware
Comment[de]=Systeminformationen, Benutzer und Firmware
Comment[sk]=Systémové informácie, používatelia a firmware
Comment[es]=Información del sistema, cuentas y firmware
Type=Settings
Exec=cosmic-settings system
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-system-and-accounts
StartupNotify=true
