[Desktop Entry]
Name=Workspaces
Name[zh_CN]=工作区
Name[pl]=Obszary robocze
Name[hu]=Munkaterületek
Name[pt]=Áreas de Trabalho
Comment=Workspace orientation and behavior.
Comment[zh_CN]=工作区方向和行为
Comment[pl]=Kierunek i zachowanie obszarów roboczych.
Comment[hu]=Munkaterületek tájolása és viselkedése.
Comment[pt]=Orientação e comportamento da área de trabalho.
Type=Settings
Exec=cosmic-settings workspaces
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-workspaces
StartupNotify=true
