[Desktop Entry]
Name=Bluetooth
Name[pl]=Bluetooth
Name[hu]=Bluetooth
Name[pt]=Bluetooth
Comment=Manage Bluetooth devices
Comment[pl]=Zarządzaj urządzeniami Bluetooth
Comment[hu]=Bluetooth-eszközök kezelése
Comment[pt]=Gerenciar dispositivos Bluetooth
Type=Settings
Exec=cosmic-settings bluetooth
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-bluetooth
StartupNotify=true
