[Desktop Entry]
Name=Wi-Fi
Name[pl]=Wi-Fi
Name[hu]=Wi-Fi
Comment=Wi-Fi connections and connection profiles.
Comment[pl]=Połączenia Wi-Fi i profile połączeń.
Comment[hu]=Wi-Fi-kapcsolatok és kapcsolódási profilok.
Type=Settings
Exec=cosmic-settings wireless
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-wireless
StartupNotify=true
