[Desktop Entry]
Name=Wired
Name[pl]=Połączenia przewodowe
Comment=Wired connections and connection profiles.
Comment[pl]=Połączenia przewodowe i profile połączeń.
Type=Settings
Exec=cosmic-settings wired
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-wired
StartupNotify=true
