[Desktop Entry]
Name=VPN
Comment=VPN connections and connection profiles.
Comment[ar]=اتصالات VPN وملفات تعريف الاتصال.
Comment[sk]=VPN pripojenia a profily pripojení.
Comment[zh_CN]=VPN连接和配置文件
Comment[pl]=Połączenia VPN i profile połączeń.
Comment[hu]=VPN-kapcsolatok és kapcsolódási profilok.
Comment[pt]=Conexões VPN e perfis de conexão.
Comment[nl]=VPN-verbindingen en VPN-profielen.
Comment[es]=Conexiones VPN y perfiles de conexión.
Type=Settings
Exec=cosmic-settings vpn
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-vpn
StartupNotify=true
