[Desktop Entry]
Name=Firmware
Comment=View and update firmware.
Type=Settings
Exec=cosmic-settings firmware
Terminal=false
Categories=X-COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
