[Desktop Entry]
Name=Displays
Comment=Display options, graphics modes, and night light.
Type=Settings
Exec=cosmic-settings displays
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-displays
StartupNotify=true
