[Desktop Entry]
Name=Accessibility
Comment=Accessibility settings.
Type=Settings
Exec=cosmic-settings accessibility
Terminal=false
Categories=COSMIC
Keywords=COSMIC;theme;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-accessibility
StartupNotify=true
