[Desktop Entry]
Name=Touchpad
Name[ar]=لوحة اللمس 
Name[zh_CN]=触摸板
Name[pl]=Gładzik
Name[hu]=Érintőpárna
Name[pt]=Touchpad
Name[sk]=Touchpad
Name[es]=Panel táctil
Comment=Touchpad speed, click options, gestures.
Comment[ar]=سرعة لوحة اللمس، خيارات النقر، الإيماءات.
Comment[zh_CN]=触摸板速度、点击选项和手势
Comment[pl]=Prędkość gładzika, opcje kliknięć, gesty.
Comment[hu]=Érintőpárna sebessége, kattintási beállítások, gesztusok.
Comment[pt]=Velocidade do touchpad, opções de clique, gestos.
Comment[sk]=Rýchlosť touchpadu, možnosti kliknutia, gestá.
Comment[nl]=Touchpad muisversnelling, klikeigenschappen en veeggebaren.
Comment[es]=Velocidad del panel táctil, opciones de clic, gestos.
Type=Settings
Exec=cosmic-settings touchpad
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-touchpad
StartupNotify=true
