[Desktop Entry]
Name=Wi-Fi
Name[pl]=Wi-Fi
Name[hu]=Wi-Fi
Name[pt_BR]=Wi-Fi
Comment=Wi-Fi connections and connection profiles.
Comment[hu]=Wi-Fi kapcsolatok és kapcsolódási profilok.
Comment[pl]=Połączenia Wi-Fi i profile połączeń.
Comment[pt_BR]=Conexões de rede sem fio e perfis de conexão.
Type=Settings
Exec=cosmic-settings wireless
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-wireless
StartupNotify=true
