[Desktop Entry]
Name=About
Comment=Device name, hardware information, operating system defaults.
Type=Settings
Exec=cosmic-settings about
Terminal=false
Categories=X-COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
