[Desktop Entry]
Name=Desktop
Name[pl]=Pulpit
Name[hu]=Asztal
Comment=
Type=Settings
Exec=cosmic-settings desktop
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop
StartupNotify=true
