[Desktop Entry]
Name=Applications
Name[zh_CN]=应用程序
Name[hu]=Alkalmazások
Name[pt]=Aplicativos
Name[nl]=Toepassingen
Comment=Manage application settings.
Comment[zh_CN]=管理应用程序设置
Comment[hu]=Alkalmazásbeállítások kezelése.
Comment[pt]=Gerenciar configurações de aplicativos.
Comment[nl]=Instellingen voor toepassingen beheren.
Type=Settings
Exec=cosmic-settings applications
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-applications
StartupNotify=true
