[Desktop Entry]
Name=Input Devices
Name[pl]=Urządzenia wprowadzania danych
Name[hu]=Beviteli eszközök
Name[pt]=Dispositivos de Entrada
Comment=
Type=Settings
Exec=cosmic-settings input
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-input-devices
StartupNotify=true
