[Desktop Entry]
Name=Accessibility
Comment=Screen reader, magnifier, high contrast, and color filters.
Type=Application
Exec=cosmic-settings accessibility
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-accessibility
StartupNotify=true
