[Desktop Entry]
Name=Applications
Name[ar]=التطبيقات
Name[cs]=Aplikace
Name[zh_CN]=应用程序
Name[hu]=Alkalmazások
Name[pt]=Aplicativos
Name[nl]=Toepassingen
Name[af]=Toepassings
Name[sk]=Aplikácie
Name[sv]=Program
Name[es]=Aplicaciones
Name[pl]=Aplikacje
Name[fr]=Applications
Name[it]=Applicazioni
Comment=Manage application settings.
Comment[ar]=أدر إعدادات التطبيق.
Comment[cs]=Správa nastavení aplikací
Comment[zh_CN]=管理应用程序设置
Comment[hu]=Alkalmazásbeállítások kezelése.
Comment[pt]=Gerenciar configurações de aplicativos.
Comment[nl]=Instellingen voor toepassingen beheren.
Comment[af]=Bestuur toepassingsinstellings.
Comment[sk]=Spravovať nastavenia aplikácií.
Comment[sv]=Hantera programinställningar.
Comment[es]=Gestionar configuración de aplicaciones.
Comment[pl]=Zarządzaj ustawieniami aplikacji.
Comment[fr]=Gérer les paramètres de l'application.
Comment[it]=Gestione delle impostazioni delle applicazioni.
Type=Application
Exec=cosmic-settings applications
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-applications
StartupNotify=true
