[Desktop Entry]
Name=Workspaces
Name[ar]=مساحات العمل
Name[cs]=Pracovní plochy
Name[zh_CN]=工作区
Name[pl]=Obszary robocze
Name[hu]=Munkaterületek
Name[pt]=Áreas de Trabalho
Name[sk]=Pracovné priestory
Name[sv]=Arbetsytor
Name[es]=Espacios de trabajo
Name[it]=Spazi di lavoro
Name[fr]=Espaces de travail
Comment=Workspace orientation and behavior.
Comment[ar]=اتجاه وسلوك مساحة العمل.
Comment[cs]=Chování a orientace pracovních ploch
Comment[zh_CN]=工作区方向和行为
Comment[pl]=Kierunek i zachowanie obszarów roboczych.
Comment[hu]=Munkaterületek tájolása és viselkedése.
Comment[pt]=Orientação e comportamento da área de trabalho.
Comment[sk]=Orientácia a správanie pracovných priestorov.
Comment[sv]=Arbetsytors orientering och beteende.
Comment[es]=Orientación de los espacios de trabajo y comportamiento.
Comment[it]=Orientamento e comportamento degli spazi di lavoro.
Comment[fr]=Orientation et comportement des espaces de travail.
Type=Application
Exec=cosmic-settings workspaces
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-workspaces
StartupNotify=true
