[Desktop Entry]
Name=Region & Language
Comment=Format dates, times, and numbers based on your region.
Type=Application
Exec=cosmic-settings region-language
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Region;Language;Date;Format;Time;Locale;Localization;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-region-and-language
StartupNotify=true
