[Desktop Entry]
Name=Appearance
Name[ar]=المظهر
Name[cs]=Vzhled
Name[zh_CN]=外观
Name[pl]=Wygląd
Name[hu]=Megjelenés
Name[pt]=Aparência
Name[nl]=Weergave
Name[af]=Weergawe
Name[sk]=Vzhľad
Name[sv]=Utseende
Name[es]=Apariencia
Name[fr]=Apparence
Name[it]=Aspetto
Comment=Accent colors and theming.
Comment[ar]=ألوان التمييز والسمات.
Comment[cs]=Doplňkové barvy a témata.
Comment[zh_CN]=强调色和个性化
Comment[pl]=Kolory akcentów i styl.
Comment[hu]=Kiemelő színek és téma.
Comment[pt]=Cores de destaque e temas.
Comment[nl]=Accentkleuren en thema's.
Comment[af]=Aksentkleure en temas.
Comment[sk]=Akcentové farby a témy.
Comment[sv]=Accentfärger och teman.
Comment[es]=Colores de énfasis y temas.
Comment[fr]=Couleurs d'accentuation et thèmes.
Comment[it]=Colore d'accento e temi.
Type=Application
Exec=cosmic-settings appearance
Terminal=false
Categories=COSMIC
Keywords=COSMIC;theme;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-appearance
StartupNotify=true
