[Desktop Entry]
Name=Panel
Comment=Primary system bar for menus and applets.
Type=Application
Exec=cosmic-settings panel
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Panel;Applet
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-panel
StartupNotify=true
