[Desktop Entry]
Name=Input Devices
Name[ar]=أجهزة الإدخال
Name[cs]=Vstupní zařízení
Name[zh_CN]=输入设备
Name[pl]=Urządzenia wprowadzania danych
Name[hu]=Beviteli eszközök
Name[pt]=Dispositivos de Entrada
Name[nl]=Invoerapparaten
Name[af]=Invoertoestelle
Name[sk]=Vstupné zariadenia
Name[sv]=Inmatningsenheter
Name[es]=Dispositivos de entrada
Name[fr]=Périphériques d'entrée
Name[it]=Dispositivi di immissione
Comment=Keyboard, cursor, etc.
Comment[ar]=لوحة المفاتيح، المؤشر، إلخ.
Comment[cs]=Klávesnice, kurzor a další
Comment[zh_CN]=键盘、光标等
Comment[nl]=Toetsenbord, muis, enz.
Comment[af]=Sleutelbord, muis, ens.
Comment[hu]=Billentyűzet, mutató, stb.
Comment[sk]=Klávesnica, kurzor a ďalšie.
Comment[sv]=Tangentbord, markör, etc.
Comment[es]=Teclado, ratón, etc.
Comment[fr]=Clavier, curseur, etc.
Comment[it]=Tastiera, mouse, ecc.
Type=Application
Exec=cosmic-settings input
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-input-devices
StartupNotify=true
