[Desktop Entry]
Name=Power & Battery
Name[ar]=الطاقة والبطارية
Name[cs]=Napájení a baterie
Name[zh_CN]=电源和电池
Name[hu]=Energia és akkumulátor
Name[pl]=Zasilanie i bateria
Name[pt]=Energia e Bateria
Name[nl]=Energie en batterij
Name[sk]=Napájanie & Batéria
Name[sv]=Ström & Batteri
Name[es]=Energía y batería
Name[fr]=Alimentation et batterie
Name[it]=Alimentazione e batteria
Comment=Power modes and power saving options.
Comment[ar]=أوضاع الطاقة وخيارات توفير الطاقة.
Comment[cs]=Režimy napájení a možnosti úspory energie
Comment[zh_CN]=电源模式和节能选项
Comment[pl]=Tryby zasilania i opcje oszczędzania energii.
Comment[hu]=Energiagazdálkodási módok és energiagazdálkodási beállítások.
Comment[pt]=Modos de energia e opções de economia de energia.
Comment[nl]=Energieverbruik en -besparingsopties.
Comment[sk]=Režimy napájania a možnosti úspory energie.
Comment[sv]=Strömalternativ och energisparalternativ.
Comment[es]=Modos de energía y opciones de ahorro de energía.
Comment[fr]=Modes d'alimentation et options d'économie d'énergie.
Comment[it]=Modalità di alimentazione e opzioni risparmio energia.
Type=Application
Exec=cosmic-settings power
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-power-and-battery
StartupNotify=true
