[Desktop Entry]
Name=Displays
Name[ar]=شاشات العرض
Name[cs]=Displeje
Name[zh_CN]=显示器
Name[pl]=Ekrany
Name[hu]=Kijelzők
Name[pt]=Telas
Name[nl]=Beeldschermen
Name[af]=Vertoonskerme
Name[sk]=Displeje
Name[sv]=Skärmar
Name[es]=Pantallas
Name[fr]=Écrans
Name[it]=Schermo
Comment=Display options, graphics modes, and night light.
Comment[ar]=خيارات العرض، وأنماط الرسوميات، والوضع الليلي.
Comment[cs]=Možnosti displeje, grafické režimy a noční světlo.
Comment[zh_CN]=显示器选项、图形模式和夜间模式
Comment[pl]=Ustawienia wyświetlania, opcje grafiki i podświetlanie nocne.
Comment[hu]=Kijelzőbeállítások, grafikus módok és éjszakai fény.
Comment[pt]=Opções de tela, monitores, modos gráficos e luz noturna.
Comment[nl]=Weergaveopties, grafische modi en nachtlicht.
Comment[af]=Vertoonopsies, grafiese modusse en naglig.
Comment[sk]=Možnosti displeja, grafické režimy a nočné svetlo.
Comment[sv]=Skärmalternativ, grafiklägen, och nattljus.
Comment[es]=Opciones de pantalla, modos gráficos y luz nocturna.
Comment[fr]=Options d'affichage, modes graphiques et éclairage nocturne.
Comment[it]=Opzioni dello schermo, impostazioni e luce notturna.
Type=Application
Exec=cosmic-settings displays
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-displays
StartupNotify=true
