[Desktop Entry]
Name=Power & Battery
Comment=Power modes and power saving options.
Type=Application
Exec=cosmic-settings power
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Power;Battery
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-power-and-battery
StartupNotify=true
