[Desktop Entry]
Name=Desktop
Name[ar]=سطح المكتب
Name[cs]=Plocha
Name[zh_CN]=桌面
Name[pl]=Pulpit
Name[hu]=Asztal
Name[pt]=Área de Trabalho
Name[nl]=Bureaublad
Name[sk]=Pracovná plocha
Name[sv]=Skrivbord
Name[es]=Escritorio
Name[fr]=Bureau
Name[it]=Desktop
Comment=
Comment[cs]=Nastavení pracovní plochy, vzhledu a chování oken
Comment[sk]=Nastavenia pracovnej plochy, vzhľadu a správania okien
Type=Application
Exec=cosmic-settings desktop
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop
StartupNotify=true
