[Desktop Entry]
Name=Mouse
Name[ar]=الفأرة
Name[cs]=Myš
Name[zh_CN]=鼠标
Name[pl]=Mysz
Name[hu]=Egér
Name[pt]=Mouse
Name[nl]=Muis
Name[sk]=Myš
Name[sv]=Mus
Name[es]=Ratón
Name[fr]=Souris
Comment=Mouse speed, acceleration, and natural scrolling.
Comment[ar]=سرعة الفأرة، والتسارع، والتمرير الطبيعي.
Comment[cs]=Citlivost myši, akcelerace, přirozené posouvání.
Comment[zh_CN]=鼠标速度、加速度和自然滚动
Comment[pl]=Prędkość myszy, przyspieszenie i naturalne przewijanie.
Comment[hu]=Egérsebesség, gyorsítás és természetes görgetés.
Comment[pt]=Velocidade do mouse, aceleração e rolagem natural.
Comment[nl]=Muissnelheid en -versnelling, en 'natuurlijk' scrollen.
Comment[sk]=Rýchlosť myši, akcelerácia a prirodzené rolovanie.
Comment[sv]=Mushastighet, acceleration, och naturlig rullning.
Comment[es]=Velocidad del ratón, aceleración y desplazamiento natural.
Comment[fr]=Vitesse de la souris, accélération, défilement naturel.
Type=Application
Exec=cosmic-settings mouse
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-mouse
StartupNotify=true
