[Desktop Entry]
Name=Network & Wireless
Name[ar]=الشبكة والاتصالات اللاسلكية
Name[cs]=Síť a Wi-Fi
Name[zh_CN]=网络和无线
Name[pl]=Sieć i połączenia bezprzewodowe
Name[hu]=Hálózat és Wi-Fi
Name[pt]=Rede e Wi-Fi
Name[nl]=Netwerk en wifi
Name[sk]=Sieť & Bezdrôtové
Name[sv]=Nätverk & Wi-Fi
Name[es]=Red e inalámbrico
Name[fr]=Réseau et sans fil
Name[it]=Rete e connessioni Wi-Fi
Comment=Manage network connections
Comment[ar]=أدر اتصالات الشبكة
Comment[cs]=Správa síťových připojení
Comment[zh_CN]=管理网络连接
Comment[pl]=Zarządzaj połączeniami sieciowymi
Comment[hu]=Hálózati kapcsolatok kezelése
Comment[pt]=Gerenciar conexões de rede
Comment[nl]=Netwerkverbindingen beheren
Comment[sk]=Spravovať sieťové pripojenia
Comment[sv]=Hantera nätverksanslutningar
Comment[es]=Gestionar conexiones de red
Comment[fr]=Gérer les connexions réseau
Comment[it]=Gestisci le connessioni di rete
Type=Application
Exec=cosmic-settings network
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-network-and-wireless
StartupNotify=true
