[Desktop Entry]
Name=Wi-Fi
Comment=Wi-Fi connections and connection profiles.
Type=Application
Exec=cosmic-settings wireless
Terminal=false
Categories=COSMIC
Keywords=COSMIC;WiFi;Wi-Fi;Network;Connection;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-wireless
StartupNotify=true
