[Desktop Entry]
Name=Accessibility
Name[ar]=الإتاحة
Name[cs]=Přístupnost
Name[zh_CN]=辅助功能
Name[hu]=Akadálymentesség
Name[pt]=Acessibilidade
Name[nl]=Toegankelijkheden
Name[af]=Toeganklikhede
Name[sk]=Prístupnosť
Name[sv]=Tillgänglighet
Name[es]=Accesibilidad
Name[pl]=Dostępność
Name[fr]=Accessibilité
Name[it]=Accessibilità
Comment=Accessibility settings.
Comment[ar]=إعدادات الإتاحة
Comment[cs]=Nastavení přístupnosti.
Comment[zh_CN]=辅助功能设置
Comment[hu]=Akadálymentességi beállítások.
Comment[pt]=Configurações de acessibilidade.
Comment[nl]=Toegankelijkheidsinstellingen.
Comment[af]=Toeganklikheidsinstellings.
Comment[sk]=Nastavenia prístupnosti.
Comment[sv]=Tillgänglighetsinställningar.
Comment[es]=Configuración de accesibilidad.
Comment[pl]=Ustawienia dostępności.
Comment[fr]=Paramètres d'accessibilité.
Comment[it]=Impostazioni accessibilità.
Type=Application
Exec=cosmic-settings accessibility
Terminal=false
Categories=COSMIC
Keywords=COSMIC;theme;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-accessibility
StartupNotify=true
