[Desktop Entry]
Name=About
Name[ar]=عن
Name[cs]=O systému
Name[zh_CN]=关于
Name[pl]=O systemie
Name[hu]=Rendszerinformáció
Name[pt]=Sobre
Name[nl]=Over
Name[af]=Oor
Name[sk]=O systéme
Name[sv]=Om
Name[es]=A cerca de
Name[fr]=À propos
Name[it]=Informazioni su
Comment=Device name, hardware information, operating system defaults.
Comment[ar]=اسم الجهاز، معلومات العتاد، إعدادات نظام التشغيل المبدئية.
Comment[cs]=Název zařízení, informace o hardwaru, výchozí nastavení operačního systému
Comment[zh_CN]=设备名称、硬件信息、操作系统默认设置
Comment[pl]=Nazwa urządzenia, informacje o sprzęcie i systemie operacyjnym.
Comment[hu]=Eszköznév, hardverinformációk és az operációs rendszer alapértelmezett beállításai.
Comment[pt]=Nome do dispositivo, informações de hardware e padrões do sistema operacional.
Comment[nl]=Apparaatnaam, hardware-informatie, standaardinstellingen van het besturingssysteem.
Comment[af]=Toestelnaam, hardeware-inligtings, standaardinstellings van die bedryfstelsel.
Comment[sk]=Názov zariadenia, hardvérové informácie, predvolené nastavenia systému.
Comment[sv]=Enhetsnamn, hårdvaruinformation, standardinställningar för operativsystem.
Comment[es]=Nombre del dispositivo, información de hardware y valores del sistema operativo.
Comment[fr]=Nom de l'appareil, informations sur le matériel et paramètres par défaut du système d'exploitation.
Comment[it]=Nome del dispositivo, informazioni sull'hardware e sul sistema operativo.
Type=Application
Exec=cosmic-settings about
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-about
StartupNotify=true
