[Desktop Entry]
Name=X11 Applications Compatibility
Name[ar]=توافق تطبيقات اكس11
Name[cs]=Kompatibilita X11 aplikací
Name[zh_CN]=X11应用程序兼容性
Name[hu]=X11 alkalmazások támogatása
Name[pt]=Compatibilidade com aplicativos X11.
Name[nl]=Compatibiliteit met X11-toepassingen.
Name[sk]=Kompatibilita X11 aplikácií
Name[sv]=X11 program kompatibilitet
Name[es]=Compatibilidad para aplicaciones X11
Name[pl]=Kompatybilność aplikacji X11
Name[fr]=Compatibilité des applications X11
Comment=X11 Window system application scaling and Global shortcuts.
Comment[ar]=توسيع نطاق تطبيق نظام النوافذ اكس11 والاختصارات العامة.
Comment[cs]=Škálování a globální klávesové zkratky aplikací využívajících okenní systém X11.
Comment[zh_CN]=X11窗口系统应用程序缩放和全局快捷键
Comment[hu]=X11 ablakkezelő rendszer alkalmazásméretezés és globális billentyűparancsok.
Comment[pt]=Dimensionamento de aplicativos com sistema de janelas X11 e atalhos globais.
Comment[nl]=X11-toepassingsvensters schalen, en globale sneltoetsen.
Comment[sk]=Škálovanie X11 aplikácií a globálne skratky.
Comment[sv]=Applikationsskalning för X11 fönstersystem och globala genvägar.
Comment[es]=Escalado de aplicaciones del sistema de ventanas X11 y atajos globales.
Comment[pl]=Skalowanie aplikacji systemu okien X11 i globalne skróty klawiszowe.
Comment[fr]=Mise à l'échelle des applications du gestionnaire de fenêtres X11 et raccourcis globaux.
Type=Application
Exec=cosmic-settings legacy-applications
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-x11-applications-compatibility
StartupNotify=true
