[Desktop Entry]
Name=Dock
Name[ar]=الإرساء
Name[cs]=Dok
Name[zh_CN]=程序坞
Name[pl]=Dok
Name[hu]=Dokk
Name[pt]=Dock
Name[sk]=Dok
Name[sv]=Docka
Name[es]=Panel
Name[fr]=Dock
Comment=An optional bar for apps and applets.
Comment[ar]=شريط اختياري للتطبيقات والبريمجات.
Comment[cs]=Volitelná lišta pro aplikace a applety.
Comment[zh_CN]=可选的应用程序和小部件的工具栏
Comment[pl]=Panel z przypiętymi aplikacjami w zasobniku i innymi apletami.
Comment[hu]=Egy opcionális sáv alkalmazásokhoz és kisalkalmazásokhoz.
Comment[pt]=Painel com aplicativos fixados e outros miniaplicativos.
Comment[sk]=Voliteľný panel pre aplikácie a applety.
Comment[sv]=En valfri list för program och applets.
Comment[nl]=Een optionele balk voor apps en applets.
Comment[af]='n Opsionele balk vir programme en applets.
Comment[es]=Panel opcional para aplicaciones y otros applets.
Comment[fr]=Barre facultative pour les applications et les applets.
Type=Application
Exec=cosmic-settings dock
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-dock
StartupNotify=true
