[Desktop Entry]
Name=Notifications
Name[ar]=الإشعارات
Name[cs]=Oznámení
Name[zh_CN]=通知
Name[pl]=Powiadomienia
Name[hu]=Értesítések
Name[pt]=Notificações
Name[nl]=Meldingsinstellingen
Name[sk]=Oznámenia
Name[sv]=Aviseringar
Name[es]=Notificaciones
Name[fr]=Notifications
Name[it]=Notifiche
Comment=Do Not Disturb, lockscreen notifications, and per-application settings.
Comment[ar]=عدم الإزعاج، إشعارات شاشة القفل، وإعدادات لكل تطبيق.
Comment[cs]=Nerušit, oznámení na zamykací obrazovce a nastavení podle aplikace
Comment[zh_CN]=勿扰模式、锁屏通知和每个应用程序的设置
Comment[pl]=Tryb „nie przeszkadzać”, powiadomienia na ekranie blokady i ustawienia poszczególnych aplikacji.
Comment[hu]=Ne zavarjanak, zárolási képernyő értesítések és alkalmazásonkénti beállítások.
Comment[pt]="Não Perturbe", notificações na tela de bloqueio e ajustes por aplicativo.
Comment[nl]="Niet storen", meldingen op het vergrendelingsscherm en meldingsinstellingen per app.
Comment[sk]=Nerušiť, oznámenia na uzamknutej obrazovke a nastavenia pre aplikácie.
Comment[sv]=Stör ej, aviseringar på låsskärm, och inställningar per program.
Comment[es]=No molestar, notificaciones de pantalla de bloqueo y ajustes de aplicación.
Comment[fr]=Ne pas déranger, notifications sur l'écran de verrouillage et paramètres par application.
Comment[it]=Non disturbare, notifiche su schermata di blocco e impostazioni per applicazioni.
Type=Application
Exec=cosmic-settings notifications
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=com.system76.CosmicSettings
StartupNotify=true
