[Desktop Entry]
Name=Startup applications
Name[ar]=تطبيقات بدء التشغيل
Name[cs]=Automatické spouštění aplikací
Name[sv]=Uppstartsprogram
Name[hu]=Indítási alkalmazások
Comment=Configure applications which run on login.
Comment[ar]=اضبط التطبيقات التي تعمل عند الولوج.
Comment[cs]=Nastavte aplikace, které se spustí při přihlášení.
Comment[sv]=Konfigurera program som körs vid inloggning.
Comment[hu]=Azoknak az alkalmazásoknak a beállítása, amelyek bejelentkezéskor elindulnak.
Type=Application
Exec=cosmic-settings startup-apps
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-startup-applications
StartupNotify=true
