[Desktop Entry]
Name=Panel
Name[ar]=اللوحة
Name[cs]=Panel
Name[zh_CN]=面板
Name[pl]=Panel
Name[hu]=Panel
Name[pt]=Painel
Name[sk]=Panel
Name[sv]=Panel
Name[es]=Barra
Name[it]=Pannello
Comment=Primary system bar for menus and applets.
Comment[ar]=شريط النظام الأساسي للقوائم والبريمجات.
Comment[cs]=Hlavní systémová lišta pro menu a applety
Comment[zh_CN]=主系统栏，用于菜单和小部件。
Comment[hu]=Fő rendszersáv menükhöz és kisalkalmazásokhoz.
Comment[pt]=Barra superior com controles e menus.
Comment[nl]=De standaard systeembalk voor menu's en applets.
Comment[sk]=Hlavný systémový panel pre menu a applety.
Comment[sv]=Primär systemfält för menyer och applets.
Comment[es]=Barra principal del sistema para menús y applets.
Comment[fr]=Barre système principale pour les menus et les applets.
Comment[it]=Barra di sistema principale per il menù e le applet.
Type=Application
Exec=cosmic-settings panel
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-panel
StartupNotify=true
