[Desktop Entry]
Name=Wi-Fi
Name[ar]=واي فاي
Name[cs]=Wi-Fi
Name[zh_CN]=Wi-Fi
Name[pl]=Wi-Fi
Name[hu]=Wi-Fi
Name[pt]=Wi-Fi
Name[nl]=Wifi
Name[sk]=Wi-Fi
Name[sv]=Wi-Fi
Name[es]=Wi-Fi
Comment=Wi-Fi connections and connection profiles.
Comment[ar]=اتصالات واي فاي وملفات تعريف الاتصال.
Comment[cs]=Wi-Fi připojení a profily.
Comment[zh_CN]=Wi-Fi连接和配置文件
Comment[hu]=Wi-Fi kapcsolatok és kapcsolódási profilok.
Comment[pl]=Połączenia Wi-Fi i profile połączeń.
Comment[pt]=Conexões de rede sem fio e perfis de conexão.
Comment[nl]=Wifiverbinding en verbindingsprofielen.
Comment[sk]=Wi-Fi pripojenia a profily pripojení.
Comment[sv]=Wi-Fi-anslutningar och anslutningsprofiler.
Comment[es]=Conexiones Wi-Fi y perfiles de conexión.
Comment[fr]=Connexions Wi-Fi et profils.
Type=Application
Exec=cosmic-settings wireless
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-wireless
StartupNotify=true
