[Desktop Entry]
Name=Startup applications
Name[ar]=تطبيقات بدء التشغيل
Name[cs]=Automaticky spouštěné aplikace
Name[sv]=Uppstartsprogram
Name[hu]=Indítási alkalmazások
Name[pl]=Aplikacje startowe
Name[fr]=Applications de démarrage
Name[zh_CN]=自动启动应用程序
Comment=Configure applications which run on login.
Comment[ar]=اضبط التطبيقات التي تعمل عند الولوج.
Comment[cs]=Správa aplikací, které se spouštějí při přihlášení
Comment[sv]=Konfigurera program som körs vid inloggning.
Comment[hu]=Azoknak az alkalmazásoknak a beállítása, amelyek bejelentkezéskor elindulnak.
Comment[pl]=Konfiguracja aplikacji uruchamianych po zalogowaniu.
Comment[fr]=Configurer les applications qui s'exécutent lors de la connexion.
Comment[zh_CN]=配置登录时运行的应用程序。
Type=Application
Exec=cosmic-settings startup-apps
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-startup-applications
StartupNotify=true
