[Desktop Entry]
Name=Filaire
Name[ar]=سلكي
Name[cs]=Drátové
Name[zh_CN]=有线连接
Name[pl]=Połączenia przewodowe
Name[hu]=Vezetékes kapcsolatok
Name[pt]=Rede Cabeada
Name[nl]=Kabelverbinding
Name[sk]=Káblové
Name[sv]=Tråndbunden anslutning
Name[es]=Red cableada
Comment=Wired connections and connection profiles.
Comment[ar]=الاتصالات السلكية وملفات تعريف الاتصال.
Comment[cs]=Drátové připojení a profily.
Comment[zh_CN]=有线连接和配置文件
Comment[pl]=Połączenia przewodowe i profile połączeń.
Comment[hu]=Vezetékes kapcsolatok és kapcsolódási profilok.
Comment[pt]=Conexões de rede cabeada e perfis de conexão.
Comment[nl]=Kabelverbinding en verbindingsprofielen.
Comment[sk]=Káblové pripojenia a profily pripojení.
Comment[sv]=Trådbundna anslutningar och anslutningsprofiler.
Comment[es]=Conexiones cableadas y perfiles de conexión.
Comment[fr]=Connexions filaires et profils.
Type=Application
Exec=cosmic-settings wired
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-wired
StartupNotify=true
