[Desktop Entry]
Name=Bluetooth
Name[ar]=البلوتوث
Name[cs]=Bluetooth
Name[zh_CN]=蓝牙
Name[pl]=Bluetooth
Name[hu]=Bluetooth
Name[pt]=Bluetooth
Name[sk]=Bluetooth
Name[sv]=Bluetooth
Name[es]=Bluetooth
Name[fr]=Bluetooth
Name[it]=Bluetooth
Comment=Manage Bluetooth devices
Comment[ar]=أدر أجهزة البلوتوث
Comment[cs]=Správa Bluetooth zařízení
Comment[zh_CN]=管理蓝牙设备
Comment[pl]=Zarządzaj urządzeniami Bluetooth
Comment[hu]=Bluetooth-eszközök kezelése
Comment[pt]=Gerenciar dispositivos Bluetooth
Comment[sk]=Spravovať Bluetooth zariadenia
Comment[sv]=Hantera Bluetooth-enheter
Comment[nl]=Bluetooth-apparaten beheren
Comment[af]=Bestuur Bluetooth-toestelle
Comment[es]=Gestionar dispositivos Bluetooth
Comment[fr]=Gérer les appareils Bluetooth
Comment[it]=Gestione dispositivi Bluetooth
Type=Application
Exec=cosmic-settings bluetooth
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-bluetooth
StartupNotify=true
