[Desktop Entry]
Name=Region & Language
Name[ar]=اللغة والمنطقة
Name[cs]=Region a jazyk
Name[zh_CN]=区域和语言
Name[pl]=Region i język
Name[hu]=Régió és nyelv
Name[pt]=Região e Idioma
Name[nl]=Taal en regio
Name[sk]=Región & Jazyk
Name[sv]=Region & språk
Name[es]=Región e Idioma
Name[fr]=Région et langue
Name[it]=Regione e lingua
Comment=Format dates, times, and numbers based on your region.
Comment[ar]=نسق التواريخ والأوقات والأرقام بناءً على منطقتك.
Comment[cs]=Formátujte datumy, časy a čísla podle vašeho regionu
Comment[zh_CN]=根据您的区域格式化日期、时间和数字
Comment[hu]=Dátumok, időpontok és számok formázása a régió alapján.
Comment[pl]=Format wyświetlanych dat, godzin i liczb dopasowany do regionu.
Comment[pt]=Formatação de datas, horas e números baseados em sua região.
Comment[nl]=Regionale datum-, tijd- en getalweergave.
Comment[sk]=Formátovanie dátumov, časov a čísel podľa vášho regiónu.
Comment[sv]=Formatera datum, tider och siffror baserat på din region.
Comment[es]=Formato de fechas, horas y números según su región.
Comment[fr]=Formater les dates, les heures et les nombres en fonction de votre région.
Comment[it]=Formato della data, dell'ora e dei numeri in base alla regione.
Type=Application
Exec=cosmic-settings region-language
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-region-and-language
StartupNotify=true
