[Desktop Entry]
Name=System & Accounts
Name[ar]=النظام والحسابات
Name[cs]=Systém a účty
Name[sk]=Systém & Účty
Name[sv]=System & konton
Name[zh_CN]=系统和账户
Name[pl]=System i konta
Name[hu]=Rendszer és fiókok
Name[pt]=Sistema e Contas
Name[nl]=Systeem en gebruikersaccount
Name[es]=Sistema y cuentas
Name[fr]=Système et comptes
Name[it]=Sistema e account
Comment=
Comment[cs]=Informace o systému, uživatelé a firmware
Comment[nl]=Systeeminformatie, gebruikers en firmware
Comment[sk]=Systémové informácie, používatelia a firmware
Comment[es]=Información del sistema, cuentas y firmware
Type=Application
Exec=cosmic-settings system
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-system-and-accounts
StartupNotify=true
