[Desktop Entry]
Name=Touchpad
Name[ar]=لوحة اللمس
Name[cs]=Touchpad
Name[zh_CN]=触摸板
Name[pl]=Gładzik
Name[hu]=Érintőpárna
Name[pt]=Touchpad
Name[sk]=Touchpad
Name[sv]=Pekplatta
Name[es]=Panel táctil
Name[fr]=Pavé tactile
Comment=Touchpad speed, click options, gestures.
Comment[ar]=سرعة لوحة اللمس، خيارات النقر، الإيماءات.
Comment[cs]=Citlivost touchpadu, nastavení klikání, gesta.
Comment[zh_CN]=触摸板速度、点击选项和手势
Comment[pl]=Prędkość gładzika, opcje kliknięć, gesty.
Comment[hu]=Érintőpárna sebessége, kattintási beállítások, gesztusok.
Comment[pt]=Velocidade do touchpad, opções de clique, gestos.
Comment[sk]=Rýchlosť touchpadu, možnosti kliknutia, gestá.
Comment[sv]=Pekplattans hastighet, klickalternativ, gester.
Comment[nl]=Touchpad muisversnelling, klikeigenschappen en veeggebaren.
Comment[es]=Velocidad del panel táctil, opciones de clic, gestos.
Comment[fr]=Vitesse du pavé tactile, options de clic, gestes.
Type=Application
Exec=cosmic-settings touchpad
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-touchpad
StartupNotify=true
