[Desktop Entry]
Name=Default applications
Name[ar]=التطبيقات المبدئية
Name[cs]=Výchozí aplikace
Name[zh_CN]=默认应用程序
Name[pl]=Domyślne aplikacje
Name[hu]=Alapértelmezett alkalmazások
Name[pt]=Aplicativos padrão
Name[nl]=Standaard toepassingen
Name[af]=Standaard toepassings
Name[sk]=Predvolené aplikácie
Name[sv]=Standardprogram
Name[es]=Aplicaciones predeterminadas
Name[fr]=Applications par défaut
Name[it]=Applicazioni predefinite
Comment=Default web browser, mail client, file browser, and other applications.
Comment[ar]=متصفح الويب المبدئي، عميل البريد، متصفح الملفات، والتطبيقات الأخرى.
Comment[cs]=Výchozí webový prohlížeč, poštovní klient, prohlížeč souborů a další aplikace
Comment[zh_CN]=默认网络浏览器、邮件客户端、文件浏览器和其他应用程序
Comment[pl]=Domyślna przeglądarka, klient poczty e-mail, menedżer plików i inne aplikacje.
Comment[hu]=Alapértelmezett böngésző, levelezőprogram, fájlkezelő és egyéb alkalmazások.
Comment[pt]=Navegador web padrão, cliente de email, gestor de arquivos e outros aplicativos.
Comment[nl]=Standaard webbrowser, mailprogramma, bestandsbeheerder en andere apps.
Comment[af]=Standaard webblaaier, e-poskliënt, lêerblaaier en ander toepassings.
Comment[sk]=Predvolený webový prehliadač, e-mailový klient, správca súborov a ďalšie aplikácie.
Comment[sv]=Standardwebläsare, e-postklient, filbläddrare, och andra program.
Comment[es]=Navegador web predeterminado, cliente de correo, explorador de archivos y otras aplicaciones.
Comment[fr]=Navigateur web, client mail, explorateur de fichiers, et autres applications.
Comment[it]=Browser web predefinito, client di posta, esplora file e altre applicazioni.
Type=Application
Exec=cosmic-settings default-apps
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-default-applications
StartupNotify=true
