[Desktop Entry]
Name=Keyboard
Name[ar]=لوحة المفاتيح
Name[cs]=Klávesnice
Name[zh_CN]=键盘
Name[pl]=Klawiatura
Name[hu]=Billentyűzet
Name[pt]=Teclado
Name[nl]=Toetsenbord
Name[sk]=Klávesnica
Name[sv]=Tangentbord
Name[es]=Teclado
Name[fr]=Clavier
Name[it]=Tastiera
Comment=Input sources, switching, special character entry, shortcuts.
Comment[ar]=مصادر الإدخال، التبديل، إدخال الأحرف الخاصة، الاختصارات.
Comment[cs]=Vstupní zdroje, přepínání, vkládání speciálních znaků, zkratky
Comment[zh_CN]=输入源、切换、特殊字符输入、快捷键
Comment[pl]=Źródła wprowadzania, przełączanie, specjalne klawisze, skróty.
Comment[hu]=Bemeneti források, váltásuk, speciális karakterek, billentyűparancsok.
Comment[pt]=Métodos de entrada, entrada de caracteres especiais, atalhos.
Comment[nl]=Invoermethodes, speciale tekens, en sneltoetsen.
Comment[sk]=Vstupné zdroje, prepínanie, zadávanie špeciálnych znakov, skratky.
Comment[sv]=Inmatningskällor, växling, specialtecken, genvägar.
Comment[es]=Entrada de teclado, conmutación, carácteres especiales, atajos.
Comment[fr]=Sources d'entrée, commutation, saisie de caractères spéciaux, raccourcis.
Comment[it]=Sorgenti di immissione, switch, caratteri speciali e scorciatoie.
Type=Application
Exec=cosmic-settings keyboard
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-desktop-keyboard
StartupNotify=true
