[Desktop Entry]
Name=Default applications
Comment=Default web browser, mail client, file browser, and other applications.
Type=Application
Exec=cosmic-settings default-apps
Terminal=false
Categories=COSMIC
Keywords=COSMIC;Default;Application
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-default-applications
StartupNotify=true
