[Desktop Entry]
Name=VPN
Comment=VPN connections and connection profiles.
Type=Application
Exec=cosmic-settings vpn
Terminal=false
Categories=COSMIC
Keywords=COSMIC;VPN;Network;Connection;OpenVPN;OpenConnect;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-vpn
StartupNotify=true
