[Desktop Entry]
Name=Date & Time
Name[ar]=التاريخ والوقت
Name[cs]=Datum a čas
Name[zh_CN]=日期和时间
Name[hu]=Dátum és idő
Name[pl]=Data i godzina
Name[pt]=Data e Hora
Name[nl]=Datum en tijd
Name[af]=Datum en tyd
Name[sk]=Dátum a čas
Name[sv]=Datum & Tid
Name[es]=Fecha y Hora
Name[fr]=Date et heure
Name[it]=Data e Ora
Comment=Time zone, automatic clock settings, and time formatting.
Comment[ar]=المنطقة الزمنية وإعدادات الساعة التلقائية وتنسيق الوقت.
Comment[cs]=Časová zóna, automatické nastavení hodin a formátování času
Comment[zh_CN]=时区，自动时钟设置和时间格式
Comment[pl]=Strefy czasowe, automatyczna konfiguracja zegara i format wyświetlania czasu.
Comment[hu]=Időzóna, automatikus órabeállítások és időformátum.
Comment[pt]=Fuso horário, hora automática e formatação.
Comment[nl]=Tijdszone, automatische klokinstellingen en tijdformatering.
Comment[af]=Tydsone, outomatiese klokinstellings en tydformatering.
Comment[sk]=Časové pásmo, automatické nastavenie hodín a formátovanie času.
Comment[sv]=Tidzon, automatiska klockinställningar, och tidsformat.
Comment[es]=Zona horaria, configuración automática del reloj y formatos de hora.
Comment[fr]=Fuseau horaire, réglage de l'heure automatique et formatage de l'heure.
Comment[it]=Fuso orario, impostazione automatica dell'ora e del formato.
Type=Application
Exec=cosmic-settings date-time
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-date-and-time
StartupNotify=true
