[Desktop Entry]
Name=System & Accounts
Comment=System information, accounts, and firmware updates.
Type=Application
Exec=cosmic-settings system
Terminal=false
Categories=COSMIC
Keywords=COSMIC;System;Info;Accounts;Firmware;
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-system-and-accounts
StartupNotify=true
