[Desktop Entry]
Name=Time & Language
Name[ar]=الوقت واللغة
Name[cs]=Čas a jazyk
Name[zh_CN]=时间与语言
Name[pl]=Czas i język
Name[hu]=Idő és nyelv
Name[pt]=Hora e Idioma
Name[nl]=Tijd- en taalinstellingen
Name[sk]=Čas & Jazyk
Name[sv]=Tid & språk
Name[es]=Hora e Idioma
Name[fr]=Heure et langue
Comment=
Comment[sk]=Nastavenia času a jazyka
Type=Application
Exec=cosmic-settings time
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-time-and-language
StartupNotify=true
