Source: cosmic-settings
Section: utils
Priority: optional
Maintainer: Michael Murphy <mmstick@pm.me>
Build-Depends:
    debhelper-compat (=13),
    just (>= 1.13.0),
    rust-all,
    cmake,
    libexpat1-dev,
    libfontconfig-dev,
    libfreetype-dev,
    lld,
    libwayland-dev,
    pkg-config,
    libxkbcommon-dev,
    libudev-dev,
    libinput-dev
Standards-Version: 4.6.2
Homepage: https://github.com/pop-os/cosmic-settings

Package: cosmic-settings
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Settings application for the COSMIC desktop environment
 Settings application for the COSMIC desktop environment
