polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.locale1.set-locale" ||
            action.id == "org.freedesktop.locale1.set-keyboard" ||
            action.id == "org.freedesktop.ModemManager1.Device.Control" ||
            action.id == "org.freedesktop.hostname1.set-static-hostname" ||
            action.id == "org.freedesktop.hostname1.set-hostname") &&
        subject.local &&
        subject.active &&
        (subject.isInGroup("sudo") || subject.isInGroup("wheel"))) {
            return polkit.Result.YES;
        }
});
