[package]
name = "cosmic-settings-wallpaper"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmic-bg-config = { workspace = true }
cosmic-config = { workspace = true }
cosmic-randr-shell = { workspace = true }
dirs = "5.0.1"
eyre = "0.6.12"
# Upstream version 5.0.0 has compilation error on Redox's toolchain
fast_image_resize = { git = "https://github.com/jackpot51/fast_image_resize.git", features = ["image"] }
freedesktop-icons = "0.2.6"
futures-lite = "2.3.0"
futures-util = "0.3.30"
image = "0.25.2"
infer = "0.16.0"
jxl-oxide = "0.9.0"
tokio = { version = "1.40.0", features = ["sync"] }
tracing = "0.1.40"
