window {
	background: #2B2928;
	backdrop-filter: blur(60px);
	border-radius: 12px;
}

title {
	background: linear-gradient(180deg, #303030 0%, rgba(48, 48, 48, 0) 100%);
	backdrop-filter: blur(40px);
	border-radius: 8px 8px 0px 0px;
}

nav-button {
	background: #303030;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 0px 24px 24px 0px;
	color: #44ECEC;
}

nav {
	background: #303030;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	border-radius: 16px;
}

.nav-element {
	border-radius: 24px;
}

.nav-element:selected {
	background: #94EBEB;
	color: #272727;
}

.settings-entry-title {
	font-size: 14px;
}

.settings-entry-desc {
	font-size: 12px;
}

.settings-group-title {
	font-size: 14px;
}

.settings-group {
	background: #393634;
	color: #CCCCCC;
	border: 1px solid #171717;
	box-sizing: border-box;
	border-radius: 12px;
}

switch {
	border-radius: 14px;
	background: #898989;
	box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.25), inset 1px 1px 2px rgba(0, 0, 0, 0.25);
	height: 24px;
}

switch slider {
	background: #333333;
	box-shadow: 1px 1px 4px rgba(147, 147, 147, 0.15);
}

switch:checked {
	background: #94EBEB;
}